
header{
background-color: rgb(67, 59, 74);

}



header   li{
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 5px;
    text-align: center;
    justify-content: center;
    font-size: large;
    font-weight: bolder;
}


.web-heading h1{
    color: rgb(255, 255, 255); 
    text-align: center;
    justify-content: center;  
}



.head-icon {
    color: rgb(255, 255, 255); 
    justify-content: center;
    text-align: right;   
}

.head-icon i{
    color: rgb(255, 255, 255); 
    margin-left: 10px;
   
        
}


aside{
    background-color: rgb(64, 183, 183);
    padding: 40px;
    color: rgb(255, 255, 255);
    font-size: large;
    font-weight: bold;
    justify-content: center;
    align-items: center;

}


aside li{
    list-style: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: rgb(115, 162, 203);
}
aside img {
    justify-content: center;
    align-items: center;
    margin-left:40px;   
}
.content-img{
    width: 100%; /* Set the width of the div */
    height: 300px; /* Set the height of the div */
    position: relative; /* Ensure positioning context */
    overflow: hidden; 
    border-radius: 10%;
}
footer{
    background-color: rgb(67, 59, 74);
    color: aliceblue;
    text-align: center;
    font-size: large;
    font-weight: bolder;
}
main{
    background-color: brown;
}